#footer{
    background-color: black;
    text-align: center;
    font-size: 11px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding:10px;
}
.custom-brand {
    font-size: 20px; /* Adjust size as needed */
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="number"], input[type="tel"] {
    width: 15%;
    padding: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input.invalid {
    border-color: red;
    color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.container-access {
    text-align: center;
    align-items: center;
    font-size: 24px;
    color: red;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-width: 600px;
    margin: auto;
}
