<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alarmy</title>
</head>
<body>
<h1>Alarmy</h1>
<p><a th:href="@{/users}" >Użytkownicy: Admin</a></p>
<p><a th:href="@{/preview}" >Wykresy: Użytkownik</a></p>
<form id="logoutForm" action="/logout" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button type="submit">Wyloguj</button>
</form>

<hr>

<form th:action="@{/alarms}" th:object="${regdhn}" method="get">

        <label for="dataStart">Start Date:</label>
        <input type="datetime-local" id="dataStart" name="dataStart" required>
        <br>
        <label for="dataStop">End Date:</label>
        <input type="datetime-local" id="dataStop" name="dataStop" required>
        <br>
        <button type="submit">Wyszukaj</button>





</form>

</body>
</html>