<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja nowego użytkownika</title>
</head>
<body>
<h1>Rejestracja nowego użytkownika</h1>
<hr>
<form th:action="@{/users/register}" th:object="${user}" method="post"> <!--user to moje mapowanie - odwołanie do modelu user-->
    <p>Nazwa użytkownika: <input type="text" th:field="${user.login}" /></p>
    <p>Hasło: <input type="password" th:field="${user.password}"/></p>
    <p>Imię: <input type="text" th:field="${user.firstName}"/></p>
    <p>Nazwisko: <input type="text" th:field="${user.lastName}"/></p>
    <p>Nr. Pracownika: <input type="number" th:field="${user.workerNumber}"/></p>
    <p>Nr. Tel. : <input type="tel" th:field="${user.phoneNumber}"/></p>
    <p>Rola: <input type="text" th:field="${user.roles}"/></p>
    <p><input type="submit" value="Zarejestruj użytkownika"/></p>
</form>
</body>
</html>
